<div>
    <h1>Formularios Binding Model</h1>
    <h2>
        {{mensaje}}
    </h2>
    <!-- El formulario debe tener un id de angular indicando como valor ngForm -->
    <form #userForm="ngForm" (ngSubmit)="recibirDatos()">
        <label>Nombre</label>
        <!-- Los controles de formulario deben tener un id de angular indicando como valor ngModel -->
        <!-- Para indicar el modelo enlazado al control debemos hacerlo con la siguiente sintaxis [(ngModel)]="modelo" -->
        <input type="text" name="cajaNombre" #cajaNombre="ngModel" [(ngModel)]="user.nombre" required>
        <span style="color: red;" *ngIf="cajaNombre.valid === false && cajaNombre.touched">
            El nombre es obligatorio
        </span>
        <br/>
        <label>Apellidos</label>
        <input type="text" 
            name="cajaApellido" 
            #cajaApellido="ngModel" 
            [(ngModel)]="user.apellidos" 
            pattern="^[A-Z]{1}[a-z]{2,}"
        >
        <span style="color:red" *ngIf="cajaApellido.valid === false && cajaApellido.touched">
            El apellido debe comenzar por mayuscula y tener un minimo de 3 caracteres
        </span>
        <br/>
        <label>Edad</label>
        <input type="number" name="cajaEdad" #cajaEdad="ngModel" [(ngModel)]="user.edad"><br/>
        <button [disabled]="!userForm.valid">
            Enviar datos
        </button>
    </form>
    <hr/>
    <h2 style="color:blue">
        Nombre: {{user.nombre}}
    </h2>
    <h2 style="color:red">
        Apellidos: {{user.apellidos}}
    </h2>
    <h2 style="color:fuchsia">
        Edad: {{user.edad}}
    </h2>
</div>